fsspec
gcsfs
torch
pytorch-lightning
torchmetrics
omegaconf
kornia
wandb
segmentation_models_pytorch
hydra-core
ipython
rasterio
geopandas
ipykernel
matplotlib
scikit-image
scikit-learn
wandb
georeader-spaceml
