fsspec
gcsfs
torch==1.13.1
pytorch-lightning==1.6.4
torchmetrics==0.10.0
omegaconf
kornia==0.6.7
wandb
segmentation_models_pytorch
hydra-core
ipython
rasterio
geopandas
ipykernel
matplotlib
scikit-image
scikit-learn
wandb==0.13.3
